<!DOCTYPE html>
<html lang="pt" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Movie</title>

    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="container-menu">
                <div class="logo">
                    <img src="/images/logo.svg" alt="">
                </div>
                <div class="title">
                    <h1>Selecione uma das opções abaixo:</h1>
                </div>
                <div class="options">
                    <a th:href="@{/locadora/dashboard/addMovie}"><img src="/images/icon-filme.svg" alt="">Adicionar filme</a>
                    <a th:href="@{/locadora/dashboard/listMovie}" id="list-movie"><img src="/images/icon-busca.svg" alt="">Listar filmes</a>
                    <a th:href="@{/locadora/dashboard/addUser}" id="add-user"><img src="/images/icon-user.svg" alt="">Adicionar usuário</a>
                    <a th:href="@{/locadora/dashboard/listUser}" id="list-user"><img src="/images/icon-buser.svg" alt="">Listar usuários</a>
                    <a th:href="@{/locadora/}"><img src="/images/icon-sair.svg" alt="">Sair</a>
                </div>
            </div>
            
            <div class="add">
                <div class="titleadd">
                    <div class="image">
                    <img src="/images/icon-filme.svg" alt="" id="img-title">
                </div>
                <div class="title-add">
                    <h1>Adicionar filme</h1>
                </div>
                </div>
                
                <div class="form">
                    <form th:action="@{/locadora/dashboard/addMovie}" method="post" id="locadoraFormMovie">
                        <label for="">Título:</label>
                        <input required type="text" name="titulo" id="title" placeholder="Digite o título do filme">
                        
                        <label for="">Gênero:</label>
                        <select name="genero" id="category">
                            <option value="" disabled selected hidden>Selecione a categoria</option>
                            <option value="Action">Ação</option>>
                            <option value="Animation">Animação</option>
                            <option value="Adventure">Aventura</option>
                            <option value="Comedy">Comédia</option>
                            <option value="Comromance">Comédia Romântica</option>
                            <option value="Documentary">Documentário</option>
                            <option value="Drama">Drama</option>
                            <option value="Fantasy">Fantasia</option>
                            <option value="Scifi">Ficção Científica</option>
                            <option value="Musical">Musical</option>
                            <option value="Romance">Romance</option>
                            <option value="Horror">Terror</option>
                            <option value="Thriller">Suspense</option>
                        </select>
        
                        
                        <label for="">Sinopse:</label>
                        <input required type="text" name="description" id="sinopse" placeholder="Digite a sinopse do filme">
        
                        <div class="double-inputs">
                            <div class="input1">
                            <label for="">Ano de lançamento:</label>
                            <input maxlength="4" required "text" name="anoLancamento" id="date" placeholder="Digite o ano de lançamento">
                            </div>
                            <div class="input2">
                            <label for="">Duração:</label>
                            <input required minlength="2" type="text" name="duracao" id="duration" placeholder="Duração | ex.: 105">
                            </div>
                        </div>
        
                        <label for="">Capa:</label>
                        <input required type="url" name="capa" id="capa" placeholder="Digite a URL da capa desejada">
        
                        <button id="btn-add" type="submit">Adicionar</button>
                    </form>
                </div>
                </div>

        </section>


    </main>
</body>
</html>