<!DOCTYPE html>
<html lang="pt" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="container-menu">
                <div class="logo">
                    <img src="/images/logo.svg" alt="">
                </div>
                <div class="title">
                    <h1>Selecione uma das opções abaixo:</h1>
                </div>
                <div class="options">
                    <a th:href="@{/locadora/dashboard/addMovie}"><img src="/images/icon-filme.svg" alt="">Adicionar filme</a>
                    <a th:href="@{/locadora/dashboard/listMovie}" id="list-movie"><img src="/images/icon-busca.svg" alt="">Listar filmes</a>
                    <a th:href="@{/locadora/dashboard/addUser}" id="add-user"><img src="/images/icon-user.svg" alt="">Adicionar usuário</a>
                    <a th:href="@{/locadora/dashboard/listUser}" id="list-user"><img src="/images/icon-buser.svg" alt="">Listar usuários</a>
                    <a th:href="@{/locadora/}"><img src="/images/icon-sair.svg" alt="">Sair</a>
                </div>
            </div>
            <div class="add">
                <div class="titleadd">
                    <div class="image">
                    <img src="/images/icon-user.svg" alt="" id="img-title">
                </div>
                <div class="title-add">
                    <h1>Adicionar usuário</h1>
                </div>
                </div>
                
                <div class="form">
                    <form th:action="@{/locadora/dashboard/addUser}" method="post" id="locadoraFormUser">
                        <label for="" >Nome:</label>
                        <input required type="text" name="nome" id="title" placeholder="Digite seu nome">
          
                        <label for="">E-mail:</label>
                        <input required type="email" name="email" id="email" placeholder="Digite seu e-mail">
          
                        <label for="">Senha:</label>
                        <input minlength="3" required type="password" name="password" id="senha" placeholder="Digite sua senha">
                        
                        <label for="">Nível de permissão:</label>
                        <select name="nivelPermissao" id="category">
                            <option value="" disabled selected hidden>Selecione o nível de permissão</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Cliente">Cliente</option>
                        </select>
          
                        <label for="">Data de nascimento:</label>
                        <input type="date" name="dataNascimento" id="date">
                         
                        <button id="btn-add" type="submit">Adicionar</button>
                    </form>
                </div>
                </div>
        </section>


    </main>
</body>
</html>