<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="shortcut icon" href="../images/logo-web.svg" type="">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Dashboard | Lumierré</title>

    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <main>
        <section class="container">
            <div class="container-menu">
                <div class="logo">
                    <img src="/images/logo.svg" alt="">
                </div>
                <div class="title">
                    <h1>Selecione uma das opções abaixo:</h1>
                </div>
                <div class="options">
                    <a th:href="@{/locadora/dashboard/addMovie}"><img src="/images/icon-filme.svg" alt="">Adicionar filme</a>
                    <a th:href="@{/locadora/dashboard/listMovie}" id="list-movie"><img src="/images/icon-busca.svg" alt="">Listar filmes</a>
                    <a th:href="@{/locadora/dashboard/addUser}" id="add-user"><img src="/images/icon-user.svg" alt="">Adicionar usuário</a>
                    <a th:href="@{/locadora/dashboard/listUser}" id="list-user"><img src="/images/icon-buser.svg" alt="">Listar usuários</a>
                    <a th:href="@{/locadora/}"><img src="/images/icon-sair.svg" alt="">Sair</a>
                </div>
            </div>




        </section>


    </main>

    <script src="/js/dashboard.js"></script>
</body>

</html>