<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/login.css"> <!-- Linkando css -->
    <link rel="shortcut icon" href="../images/logo-web.svg" type=""> <!-- Imagem Logo -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">

    <title>Login | Lumierré</title>
</head>
<body>
    <main>
        <section class="body-login">
            <div class="login">
                
                <div class="welcome-left">
                    <h1>Opa!</h1>
                    <h3>Seja bem-vindo(a) <br />de volta ao <span style="color: #0487D9;">Lumierré.</span></h3>             
                </div>

                <div class="welcome-right">
                    <h2>Login</h2>

                    <div class="info">

                        <div class="email">
                            <p>E-mail</p>
                            <input type="email" placeholder="Digite seu email">
                        </div>

                        <div class="senha">
                            <p>Senha</p>
                            <input type="password" placeholder="Digite sua senha">
                        </div>

                    </div>

                    <div class="button">
                        <a href="dashboard.html">Entrar</a>
                    </div> 
                    
                </div>

            </div>
        </section>
    </main>
</body>
</html>